mixin action
    .action
        .row.no-gutters
            .col-6
                .action__panel
                    h1 Блок CALL TO ACTION ПОСЛУГИ ЦЕНТРУ ОБРОБКИ ДАНИХ
                    p Потрібен хмарний ЦОД, сервер в хмарі, віртуальна система збереження даних, резервне сховище або віддалена робоча станція? Нажимай сюди. Ви отримаєте повний доступ до повністю ізольованою, автономної інфраструктурі і неймовірні можливості управління нею.
                    a.btn(href="#") Купити
            .col-6
                img(src="./img/logo_colors_gradients-03.png", alt="").action__image