
.logoimg
{
    @media(max-width: 1366px)
    {
        width: 229px;          
    }    

    @media(max-width: 376px)
    {
        width: 130px;          
    }    
}

.nav
{
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    height: 67px;

    &__logo
    {
        padding: 16px 0px 0px 118px;
        @media(max-width: 1366px)
        {
            padding: 16px 0px 0px 26px        
        }    
    }   
    
    &__block-list
    {
        list-style-type: none;
        display:flex;
        padding: 7px 110px 0px 0px;
        @media(max-width: 1366px)
        {
            display: none;
        }    
    }

    &__block-items
    {
        margin: 0px 33px 0px 0px;
    }

    &__block-links
    {
        font-family: 'Roboto',serif;        
        font-weight: 500;
        font-size: 12px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #232323;
       
    }

    &__burg
    {
        width: 18px;
        height: 12px;
        padding: 0px 0px 0px 0px;
        display: none;   
        @media(max-width: 1366px)
        {
            display: block;
            position: absolute;
            right: 8%;
            top: 33%;  
        }   
        
        
        
    }
}


