mixin nav
    nav.nav    
        .container-fluid
            .row
                .nav__logo.col-6
                
                .nav__list.col-6
                    ul.list__items
                        li.list__links
                        li.list__links
                        li.list__links
                        li.list__links
                
                        
            
                