mixin services
    services.services
        .container
            .row
                .col-12
                    .services__title наші послуги
            .row
                .col-4
                    .services__content
                        .services__img
                            img(src="../dist/img/logo_colors_gradients-03.png", alt="")
                        .services__title Послуги хмарного ЦОД
                        .services__subtitle Сервіс оренди обчислювальних потужностей (IaaS) на наших хмарних платформах для створення вашої власної інфраструктури в «хмарі». 
                .col-4
                    .services__content
                        .services__img
                            img(src="../dist/img/logo_colors_gradients-04.png", alt="")
                        .services__title EDC Colocation
                        .services__subtitle Сервіс розміщення вашого IT обладнання на наших потужних, захищених, відмовостійких центрах обробки даних.
                .col-4
                    .services__content
                        .services__img
                            img(src="../dist/img/logo_colors_gradients-05.png", alt="")
                        .services__title EDC Consulting
                        .services__subtitle Сервіс допомоги в питаннях підбору рішень, стосовно будь-якої IT інфраструктури 