extends ../template/layout.pug

//- include blocks here
include ../blocks/nav/_nav.pug
include ../blocks/header/_header.pug 
include ../blocks/services/_services.pug
include ../blocks/support/_support.pug

block page
    //- type pug code here
    +header
        +nav
    +services
    +support
