extends ../template/layout.pug

//- include blocks here
include ../blocks/nav/nav.pug
include ../blocks/head/head.pug


block allcontent
    //- type pug code here
    +nav
    +head
    



    
    
