extends ../template/layout.pug

//- include blocks here
include ../blocks/btn/_btn.pug
include ../blocks/services/_services.pug
include ../blocks/footer/_footer.pug


block page
    //- type pug code here
    +services
    +footer