.support {
    text-align: center;
    margin: 120px 0px;
    &__title{font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 32px;
        line-height: 48px;
        /* identical to box height, or 150% */
        
        text-align: center;
        text-transform: uppercase;
        
        /* black */
        
        color: #232323;
    }
}
