mixin support
    .support
        h1.support__title Підтримка, якій не все одно!
        .d-flex.justify-content-center
            a(href="tel:+38 (044) 502-02-42").btn.mr-5
                <i class="mr-2 fas fa-phone-alt"></i>
                | +38 (044) 502-02-42 
            a(href="https://net-group.com.ua/").btn.mr-6 
                <i class="mr-2 fas fa-envelope"></i>
                | support.edc@udc-group.com.ua