.header
{
    padding: 30px;
    background-color: #242424;

    @media(max-width: 376px)
    {
        padding: 10px;         
    }    


    &__block
    {
        position: relative;
    }

    &__adaptive-nav
    {
        
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: red;
        z-index: 9999;
      
        
    }

    &__list
    {
        
        
        display: block;
        list-style: none;
        margin-top: 3%;
        line-height: 44px;
    }

    &__items
    {
        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;       
        text-align: center;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}



.mainimg
{
    filter: grayscale(100%);
    
}