mixin header
    .header
        block
        .header__block
            img.mainimg(src="img/header.png", alt="" width="100%")
            .header__adaptive-nav
                ul.header__list
                    li.header__items
                        a.header__items-links послуги
                    li.header__items
                        a.header__items-links про компанію
                    li.header__items
                        a.header__items-links партнеры 
                    li.header__items
                        a.header__items-links Контакти