mixin header
    .header
        block
        .header__block            
            #burghide.header__adaptive-nav.collapse 
                ul.header__list
                    li.header__items
                        a.header__items-links послуги
                    li.header__items
                        a.header__items-links про компанію
                    li.header__items
                        a.header__items-links партнеры 
                    li.header__items
                        a.header__items-links Контакти
            img.mainimg(src="img/header.png", alt="" width="100%")
            